django==1.4.5
django-openid-auth
south
gunicorn
MySQL-python
# uninstall python-openid and install git+https://github.com/adieu/python-openid
-e git+https://github.com/adieu/python-openid#egg=python-openid
django-parsley
django-crispy-forms
