django==1.4.5
django-openid-auth==0.4
south==0.7.6
gunicorn==0.17.0
MySQL-python==1.2.5
django-parsley==0.0.2a0
django-crispy-forms==1.2.3
python-social-auth==0.2.19
oauthlib==1.1.2
-e git+https://github.com/adieu/python-openid@03773fb96dff352bbda12538726dc5c46fe0316c#egg=python_openid
